body {
  font-family: "lato";
  margin: 0;
}

button {
  cursor: pointer;
}

footer {
  background: steelblue;
  bottom: 0;
  height: 8vh;
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer > div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

footer > div.footer-info > img {
  height: calc(8vh - 8px);
  padding: 4px;
}

footer > div.footer-info > p {
  font-size: 1.75vmin;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

footer > div.footer-actions > ul {
  display: inherit;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

footer > div.footer-actions > ul > li {
  width: 100%;
}

footer > div.footer-actions > ul > li > button > em {
  font-size: 1.5vmax;
}

footer > div.footer-actions > ul > li > button {
  background-color: transparent;
  border-style: none;
  color: whitesmoke;
  height: 8vh;
  padding: 0.5vmax;
  width: inherit;
}

footer > div.footer-actions > ul > li > button:hover {
  background-color: lightgrey;
  color: steelblue;
}

footer > div.footer-actions > ul > li > button:active {
  background-color: #4b4d51;
  color: whitesmoke;
}

.content {
  margin-left: 4vw;
}

.header {
  background-color: #4b4d51;
  display: flex;
  flex-direction: row;
}

.header > img {
  height: calc(25vh - 24px);
  padding: 12px;
}

.header > .header-desc {
  color: whitesmoke;
  margin-left: 1em;
  margin-bottom: 1em;
  position: relative;
}

.header > .header-desc > h3 {
  font-size: 2vw;
}

.header > .header-desc > p {
  font-size: 1vw;
}

.header-desc > ul {
  position: absolute;
  bottom: 0;
  font-size: 1vw;
}

.header-desc > ul > li > button {
  background-color: transparent;
  border-style: none;
  color: whitesmoke;
  width: inherit;
  font-size: smaller;
}

.header-desc > ul > li > button:hover {
  background-color: lightgrey;
  color: #4b4d51;
}

.header-desc > ul > li > button:first-child {
  padding-left: 0;
}

.header-desc > ul > li:nth-child(2) > button {
  margin: 0 1em;
}

.sidenav {
  height: calc(100vh - 8vh);
  width: 4vw;
  position: fixed;
  background-color: lightgrey;
  left: 0;
  top: 0;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.sidenav > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sidenav > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
}

.sidenav > ul > li > a {
  color: black;
  padding: 0 0.66vmax;
  height: 100%;
  display: flex;
  align-items: center;
}

.sidenav > ul > li > a:hover {
  background-color: steelblue;
  color: lightgrey;
}

.sidenav > ul > li > a > em {
  padding: inherit;
}

.songs-list {
  overflow-x: auto;
}

.songs-list > table {
  font-size: 1vw;
  width: 100%;
  padding: 0.25vw;
  table-layout: fixed;
}

.songs-list > table > tbody > tr {
  color: black;
  line-height: 5vh;
}

.songs-list > table > tbody > tr > td > button {
  background-color: transparent;
  color: blue;
  font-size: 1vw;
  text-transform: uppercase;
}

.songs-list > table > tbody > tr:nth-child(even) {
  background-color: lightgrey;
}

.songs-list > table > tbody > tr:hover {
  background-color: darkgrey;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul > li > a {
  text-decoration: none;
  font-size: 1vw;
}